@font-face {
  font-family: inter-bold;
  src: url("./assets/fonts/Inter_18pt-Bold.ttf") format("truetype");
}

@font-face {
  font-family: inter-extra-bold;
  src: url("./assets/fonts/Inter_18pt-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: inter-light;
  src: url("./assets/fonts/Inter_18pt-Light.ttf") format("truetype");
}

@font-face {
  font-family: inter-medium;
  src: url("./assets/fonts/Inter_18pt-Medium.ttf") format("truetype");
}

@font-face {
  font-family: inter-regular;
  src: url("./assets/fonts/Inter_18pt-Regular.ttf") format("truetype");
}

@font-face {
  font-family: inter-semi-bold;
  src: url("./assets/fonts/Inter_18pt-SemiBold.ttf") format("truetype");
}

@import "tailwindcss";

/* custom colors */
@theme {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-sunset: #ff5e5b;
}

@theme {
  --font-inter-bold: inter-bold, sans-serif;
  --font-inter-extra-bold: inter-extra-bold, sans-serif;
  --font-inter-light: inter-light, sans-serif;
  --font-inter-medium: inter-medium, sans-serif;
  --font-inter-regular: inter-regular, sans-serif;
  --font-inter-semi-bold: inter-semi-bold, sans-serif;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  width: 30px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#000 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}

@keyframes l1 {
  0% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
  33% {
    background-size: 20% 10%, 20% 100%, 20% 100%;
  }
  50% {
    background-size: 20% 100%, 20% 10%, 20% 100%;
  }
  66% {
    background-size: 20% 100%, 20% 100%, 20% 10%;
  }
  100% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
}
